{% extends "base.html" %}

{% block title %}
Data Viewer
{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo: Update 'src' with the path to your logo image -->
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Data Viewer
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'admin' else '' }}" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'contact_us' else '' }}"href="{{ url_for('contact_us') }}">Contact Us</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-info" href="{{ url_for('logout') }}" role="button">Logout</a>
            </form>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-3">Select Date and Time Range</h1>
    <!-- Error Message Div -->
    <div id="error-message" class="alert alert-danger" style="display: none;"></div>
    <form onsubmit="fetchData()">
        <div class="row g-3 align-items-center">
            <!-- Site Dropdown -->
            <div class="col-auto">
                <label for="site" class="col-form-label">Site:</label>
                <select id="site" name="site" class="form-control">
                    <!-- Options will be populated here -->
                </select>
            </div>

            <!-- Date selection -->
            <div class="col-auto">
                <label for="start_date" class="col-form-label">Start Date:</label>
                <input type="date" id="start_date" name="start_date" class="form-control">
            </div>
            <div class="col-auto">
                <label for="end_date" class="col-form-label">End Date:</label>
                <input type="date" id="end_date" name="end_date" class="form-control">
            </div>

            <!-- Submit selection -->
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Get Data</button>
            </div>
        </div>
    </form>

    <h2>Data</h2>
    <table id="data_table" class="table table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <th>Modified</th>
                <th>MDate</th>
                <th>MTime</th>
                <th>CDate</th>
                <th>CTime</th>
                <th>Day</th>
                <th>Week_Day</th>
                <th>MTime_Cat</th>
                <th>LTime</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be inserted here -->
        </tbody>
    </table>
</div>

{% endblock %}

{% block additional_scripts %}
<!-- <script src="{{ url_for('static', filename='./js/home.js') }}"></script> -->
<script>

    $(window).load(function() {
    // executes when complete page is fully loaded, including all frames, objects and images
    
        function populateSites() {
            fetch('/get_sites')
                .then(response => response.json())
                .then(sites => {
                    const select = document.getElementById('site');
                    sites.forEach(site => {
                        let option = document.createElement('option');
                        option.value = site.site_id;
                        option.textContent = site.short_name;
                        select.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

    });

    function fetchData() {
        // Prevent the form from submitting normally
        event.preventDefault();

        // Get the values from the form
        var site = document.getElementById('site').value;
        var start_date = document.getElementById('start_date').value;
        var end_date = document.getElementById('end_date').value;
        
        // Include site in the request URL
        var url = `/get_data?start_date=${start_date}&end_date=${end_date}&site=${site}`;

        // Fetch data from the server
        fetch(url)
            .then(response => response.json())
            .then(data => {
                displayData(data);
            })
            .catch(error => console.error('Error:', error));
    }

    function displayError(errorMessage) {
        var errorDiv = document.getElementById('error-message');
        errorDiv.textContent = errorMessage; // Set the error message text
        errorDiv.style.display = 'block'; // Show the error message div
    }


    function displayData(data) {
        var table = document.getElementById('data_table');
        var tbody = table.getElementsByTagName('tbody')[0];
        tbody.innerHTML = ''; // Clear existing data

        data = JSON.parse(data)
        console.log("data to display:", data)

        // Add new rows to the table
        data.forEach(item => {
            var row = tbody.insertRow();
            for (var key in item) {
                var cell = row.insertCell();
                cell.textContent = item[key];
            }
        });
    }

</script>
{% endblock %}